@import '~antd/dist/antd.css';

/* Carousel */

.technoirHome {
    padding-top: 50px;
    padding-bottom: 30px;
    text-align: center;
}

.homeDescription {
    padding-bottom: 30px;
}

.ant-carousel {
    width: 70%;
    margin: 0 auto;
    height: 360px;
}

.ant-carousel .slick-slide {
    text-align: center;
    height: 360px;
    line-height: 160px;
    background: #364d79;
    overflow: hidden;
}

.ant-carousel .slick-slide h3 {
    color: #fff;
}

.carImg {
    object-fit: cover;
    width: 1500px;
    height: 400px;
}

.menuCard {
    width: 50%;
    margin: 0 auto;
}

.title {
    padding-top: 20px;
    padding-bottom: 20px;
}

.mainDescription {
    padding-bottom: 50px;
    padding-left: 50px;

}

.registerForm {
    width: 30%;
    margin: 0 auto;
}

.submitButton {
    text-align: center;

}

/* SurveyForm */

.surveyForm {
    width: 50%;
    margin: 0 auto;
}

.surveyDescription {
    text-align: center;
    padding-bottom: 50px;
    font-size: 18px;
}

.questionText {
    padding-bottom: 8px;
}

.question {
    padding-bottom: 15px;
}

/* AddCpuSurvey */

.registerFormCpu {
    width: 60%;
    margin: 0 auto;
}

/* Lists */

.listTable {
    width: 90%;
    margin: 0 auto;
}

.listTableMin {
    width: 90%;
    margin: 0 auto;
}

/* Administrator header */

.logoutButton {
    color: red;
}

.selectionList {
    margin: 0 auto;
    text-align: left;
    min-width: 800px;
}

.listElement {
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
}

.vertical-center-modal {
    text-align: center;
    white-space: nowrap;

}

.vertical-center-modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    width: 0;
}

.vertical-center-modal .ant-modal {
    display: inline-block;
    vertical-align: middle;
    top: 0;
    text-align: left;
}

